[Unit]
Description=Attendance Tracker Tailscale Funnel
After=network.target tailscaled.service atbe.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tailscale funnel 5000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target